---
title:
description: "I am a spirit weaver, tantrika goddess and shapeshifting artist. And if there's one thing I know how to do, it's to live joyfullee!"
image: /uploads/home-page-cropped.jpg
bottom_image: /images/DSC01999.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Joyfullee</h1>
			<p class="subtext editable">If there's one thing I know how to do,<br />it's to live joyfullee!<br />&bull; spirituality &bull; sexuality &bull; artistry &bull;&nbsp;</p>
			<div class="cta button alt editable"><a href="/my-journey/">My Journey</a></div>
		</div>
	</div>
	<div class="read-on"><a href="#read-on">Read On <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content" id="read-on">
	<section>
		<div class="text-container">
			<ul class="blog-posts">
				{% for post in site.posts limit:3 %}
					{% include post.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="hero hero-footer" style="background-image: url({% include relative-src.html src=page.bottom_image %});background-position: top center;">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<div class="quote">"Follow your joy. You will always make the right decisions, and you life will be <nobr>full of light.</nobr>"</div>
				<p class="subtext editable">- Jocelyn Lee</p>
			</div>
		</div>
		<div class="hero-overlay"></div>
	</section>

	<div class="separator">
		<img src="/images/separator.png" />
	</div>

	<div class="text-container">
		{% include footer-about.html %}
	</div>
</div>
