---
title: Home
description: "I am a spirit weaver, tantrika goddess and shapeshifting artist. And if there's one thing I know how to do, it's to live joyfullee!"
image: /uploads/dsc02600.JPG
bottom_image: /images/DSC01999.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Joyfullee</h1>
			<p class="subtext editable">If there's one thing I know how to do, it's to live joyfullee!<br />&bull; spirituality &bull; sexuality &bull; artistry &bull;&nbsp;</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="image">
				<img class="editable" alt="Screenshot" id="cms-identifiable-1966" data-cms-cid="1966" src="/uploads/versions/bruha1---x516-0-1596-3192-650-1300x---.jpg" />
			</div>
			<div class="text">
				<h2 class="editable">Jocelyn Lee&nbsp;</h2>
				<p class="editable">From traversing the mysterious world of consciousness as a Spirit Weaver, to revealing intimate details of my tantric journey as a Tantrika Goddess, to sharing my creations as a Shapeshifting Artist, or empowering women through coaching - I always embrace the light and dark shades of life, joyfully...</p>
				<div class="cta button alt"><a href="/about/">My journey</a></div>
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
			</div>
		</div>
	</section>
</div>
