<section id="footer-about">
  <div class="flex">
    <div class="image">
      <img class="editable" alt="Jocelyn Lee" src="/uploads/versions/jocelyn-DSC02038---x211-26-1006-861-638-546x---.png" />
    </div>
    <div class="text text-small">
      <h2 class="editable">Jocelyn Lee&nbsp;</h2>
      <p class="editable">I traverse the mysterious metaphysical world &nbsp;as a Spirit Weaver to bridge you with the unknown. I reveal with you intimate details of living tantra as a Tantrika Goddess to awaken your heart. &nbsp;I share my creations as a Shapeshifting Artist to express my soul. I serve by coaching women into empowerment. &nbsp;<br />I invite you to join me to live joyfullee.</p>
      <div class="cta button"><a href="/my-journey/">My journey</a></div>
    </div>
  </div>
</section>
