<section id="footer-about">
  <div class="flex">
    <div class="image">
      <img class="editable" alt="Screenshot" src="/uploads/bruha1.jpg" />
    </div>
    <div class="text text-small">
      <h2 class="editable">Jocelyn Lee&nbsp;</h2>
      <p class="editable">From traversing the mysterious world of consciousness as a Spirit Weaver, to revealing intimate details of my tantric journey as a Tantrika Goddess, to sharing my creations as a Shapeshifting Artist, and empowering women through coaching - I always embrace the light and dark shades of life, joyfully...</p>
      <div class="cta button"><a href="/my-journey/">My journey</a></div>
    </div>
  </div>
</section>
