<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>

	{% assign siteNameShort = site.prod_url | remove: "http://www." %}
	{% for page in site.pages %}
		{% assign pageDirectory = page.dir | split: '/' %}
		{% if page.include_in_nav and pageDirectory[1] == siteNameShort %}

			{% assign currentPage = page.url | split: "/" %}
			{% assign currentLink = link.link | replace: "/", "" %}

			{% if currentLink == currentPage[1] %}
				{% assign class = class | append: " active" %}
			{% endif %}
			<a href="{% include relative-src.html src=page.url %}" class="{{ class }}">{{ page.title }}</a>
		{% endif %}
	{% endfor %}
</nav>
