<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	{% assign navItems = site.navigation %}

	{% for navitem in navItems %}
		{% assign class = "" %}
		{% if navitem.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% assign currentPage = page.url | split: "/" %}
		{% assign currentLink = navitem.link | replace: "/", "" %}
		{% if currentLink == currentPage[1] %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=navitem.link %}" class="{{ class }}" {% if navitem.new_window %}target="_blank"{% endif %}>{{ navitem.title }}</a>
	{% endfor %}
</nav>
