<nav class="main-nav">
	<a class="nav-toggle" id="open-nav" data-toggle-nav href="#">&#9776;</a>
	{% assign navItems = site.navigation | sort: 'position' %}

	{% for navitem in navItems %}
		{% assign class = "" %}
		{% if navitem.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% assign currentPage = page.url | split: "/" %}
		{% assign currentLink = navitem.link | split: "/" %}
		{% if currentLink[1] == "category" %}
			{% assign currentLink = currentLink[2] %}
			{% assign currentPage = currentPage[2] %}
		{% else %}
			{% assign currentLink = currentLink[1] %}
			{% assign currentPage = currentPage[1] %}
		{% endif %}

		{% if currentLink == currentPage %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=navitem.link %}" class="{{ class }}" {% if navitem.new_window %}target="_blank"{% endif %}>{{ navitem.title }}</a>
	{% endfor %}

	<a href="https://www.youtube.com/subscription_center?add_user=jocelynlee" target="new" data-toggle-nav class="mobile-join-newsletter">Subscribe to my channel</a>
</nav>

<nav class="join-newsletter"><a href="https://www.youtube.com/subscription_center?add_user=jocelynlee" target="new">Subscribe to my channel</a></nav>
