<li class="blog-post">
	<h2 class="blog-post-title"><a href="{% include relative-src.html src=post.url %}">{{ post.title }}</a></h2>
	{% include post-title.html post=post %}
	<div class="post-content">
		<div class="post-content-excerpt">
			<p>{{ post.content | strip_html | truncatewords:30 }}</p>
			<div class="button"><a href="{% include relative-src.html src=post.url %}">Read More</a></div>
		</div>
		<div class="post-content-image" style="background-image: url('{{ post.image }}')"><a href="{% include relative-src.html src=post.url %}"></a></div>
	</div>
</li>
<div class="separator">
	<img src="/images/separator.png" />
</div>
