footer {
	padding: 50px 25px;
	font-size: 0.8rem;
	position: relative;
	background: $brand-color;
	color: #fff;

	display: flex;
	flex-direction: column;

	h2{
		color: white;
		text-align: center;
	}
	#mc_embed_signup{
		background: transparent;
		font: inherit;

		input, .button{
			height: 50px !important;
			font: inherit;
			font-size: 1.2rem !important;
		}

		#mc-embedded-subscribe{
			background-color: $complimentary-color;
		}
	}

	.socialmedia-icons{
		margin-top: 50px;
		font-size: 20px;
		text-align: center;
		svg{
			width: 40px;
			height: 40px;
			opacity: 0.4;
			fill: white;
		}
	}

	@media #{$large} {
		font-size: 1.4rem;
	}

	&,
	a {
		color: #fff;
	}

	li:last-child a{
		padding-right: 0;
	}

	a {
		text-decoration: none;
		padding: 0 25px 0 0;

		&:hover {
			color: #fff;
		}
	}

	ul {
		padding: 0;
		margin: 0;

		&.footer-right-links {
			float: left;
			@media #{$tablet} {
				float: right;
			}
		}

		&.footer-left-links {
			float: left;
		}

		li {
			list-style: none;
			margin: 15px auto;
			display: inline-block;

			a {
				&:hover {
					text-decoration: none;
				}
				svg {
					fill: #fff;
					transition: fill 0.2s ease;
					vertical-align: middle;
					width: 30px;
					height: 30px;

					@media #{$large} {
						width: 3rem;
						height: 3rem;
					}
				}

				&:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.twitter-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.google-plus-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.youtube-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.instagram-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.linkedin-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.pinterest-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.rss-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}
			}
		}
	}
}

.copyright {
	margin: 15px auto;
	float: left;

	a {
		color: #fff;
	}

	@media #{$desktop} {
		text-align: center;
		float: none;
		padding: 16px 0;
		margin: 0;
	}
}

#footer-about{
	h2{
		margin-bottom: 10px;
	}
	.image{
		text-align: left;
		padding: 0;

		@media #{$desktop} {
			margin-right: 20px;
		}
	}

	.text{
		font-size: 0.8em;
		.cta.button{
			margin-top: 10px !important;
			a{
				padding: 12px 30px;
			}
		}
		p{
			margin-bottom: 0;
			font-size: 1rem;
			line-height: 1.4rem;
		}
	}
}
