footer {
	font-size: 0.8em;
	position: relative;
	background: $brand-color;
	color: #fff;

	&,
	a {
		color: #fff;
	}

	a {
		text-decoration: none;
		padding: 0 25px 0 0;

		&:hover {
			color: #fff;
		}
	}

	ul {
		font-family: "Rubik", sans-serif;
		padding: 0;
		margin: 0;

		&.footer-right-links {
			float: left;
			@media #{$tablet} {
				float: right;
			}
		}

		&.footer-left-links {
			float: left;
		}

		li {
			list-style: none;
			margin: 15px auto;
			display: inline-block;

			a {
				&:hover {
					text-decoration: none;
				}
				svg {
					fill: #fff;
					transition: fill 0.2s ease;
					vertical-align: middle;
					width: 30px;
					height: 30px;
				}

				&:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.twitter-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.google-plus-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.youtube-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.instagram-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.linkedin-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.pinterest-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}

				&.rss-icon:hover svg {
					fill: lighten($brand-color, 50%);
				}
			}
		}
	}
}

.copyright {
	margin: 15px auto;
	float: left;

	a {
		color: #fff;
	}

	@media #{$desktop} {
		text-align: center;
		float: none;
		padding: 16px 0;
		margin: 0;
	}
}

#footer-about{
	h2{
		margin-bottom: 10px;
	}
	.image{
		text-align: left;
		padding: 0;

		@media #{$desktop} {
			margin-right: 20px;
		}
	}

	.text{
		font-size: 0.8em;
		.cta.button{
			margin-top: 10px !important;
			a{
				padding: 12px 30px;
			}
		}
		p{
			margin-bottom: 0;
		}
	}
}
