---
layout: page
---
<section id="read-on">
	<div class="blog-post text-container">
		<p class="editor-link"><a href="cloudcannon:collections/{{ page.path }}" class="btn"><strong>&#9998;</strong> Edit Post</a></p>
		{% include post-title.html post=page %}

		<div class="post-content">

			<div id="post-video-container">
				<iframe id="post-video" width="560" height="315" src="https://www.youtube.com/embed/{{ page.video }}" frameborder="0" allowfullscreen></iframe>
			</div>

			{{ content }}

			{% include post-footer.html %}

		</div>
	</div>
</section>
