---
layout: page
---

<section>
	<div class="blog-post text-container">
		<p class="editor-link"><a href="cloudcannon:collections/{{ page.path }}" class="btn"><strong>&#9998;</strong> Edit Post</a></p>
		{% include post-title.html post=page %}

		<div class="post-content">
			{{ content }}

			<div class="blog-navigation">
				{% if page.next %}
					<div class="button cta next"><a href="{% include relative-src.html src=page.next.url %}">&laquo; {{ page.next.title }}</a></div>
				{% endif %}
				{% if page.previous %}
					<div class="button cta prev"><a href="{% include relative-src.html src=page.previous.url %}">{{ page.previous.title }} &raquo;</a></div>
				{% endif %}
			</div>

			{% if site.disqus_shortname %}
				<div id="disqus_thread"></div>
				<script>
					var disqus_shortname = '{{ site.disqus_shortname }}';
					var disqus_config = function () {
						this.page.url = "{{ page.url | prepend: site.url }}";
						this.page.identifier = "{{ page.id }}";
					};

					(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
					})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			{% endif %}

			<div class="separator">
				<img src="/images/separator.png" />
			</div>

			{% include footer-about.html %}
		</div>
	</div>
</section>
